<!DOCTYPE html>
<head>



</head>
<body>
    <table border="2" width="700" align="center">
        <tr>
           <td colspan="2" align="center" bgcolor="lightblue">Musical Theater</td>
           <td colspan="2" align="center" bgcolor="lightblue">Performance Year</td>
        </tr>
        <tr>
            <td rowspan="2" class="center" width="200">Hamilton</td>
            <td width="200">Off-Broadway</td>
            <td width="100">2016</td>
        </tr>
        <tr>
            <td colspan="2" align="center" bgcolor="lightblue">Drama Desk Awards</td>
        </tr>
        <tr>
            <td rowspan="2" class="center" width="200">Mozart, l'opéra rock</td>
            <td width="200">Palais des Sports</td>
            <td width="100">2009</td>
        </tr>
        <tr>
            <td colspan="2" align="center" bgcolor="lightblue">Francophone Duo/Group of the Year</td>
        </tr>
        <tr>
            <td rowspan="2" class="center" width="200">Chicago</td>
            <td width="200">Broadway theatre</td>
            <td width="100">1975</td>
        </tr>
        <tr>
            <td colspan="2" align="center" bgcolor="lightblue">Tony Award for Best Revival of a Musical</td>
        </tr>
    </table>
</body>
